.lead {
  margin: 0 auto;
  padding: 56px 0 0;
  max-width: 984px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    padding-top: 48px;
  }
}
