.header {
  margin: 28px auto 0;
  max-width: 1184px;
  min-height: 52px;
  display: flex;
  justify-content: right;
  gap: 18px;
  align-items: end;
  outline: red solid 1px;
  background: url(../../images/header-logo.svg) no-repeat left/contain;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: 720px;
    min-height: 42px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 288px;
    min-height: 42px;
    margin: 16px auto 0;
    gap: 18px;
  }
}
