.place {
  display: grid;
  grid-template-columns: fit-content(460px) 1fr;
  gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: fit-content(440px) 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: fit-content(340px) 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
  }
}
