.footer {
  margin: 0 auto;
  padding: 92px 16px 24px 16px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    gap: 48px;
  }
}
